<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageKey</key>
		<string>page-1.png</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>page-2.png</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>page-3.png</string>
	</dict>
</array>
</plist>
