<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-1.jpg</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-2.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-3.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-4.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-5.jpg</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-6.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-7.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-8.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-9.jpg</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-10.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-11.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>户型图</string>
		<key>imageKey</key>
		<string>huxing-12.jpg</string>
	</dict>
</array>
</plist>
