<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-1.jpg</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-2.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-3.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-4.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-5.jpg</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-6.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-7.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-8.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-9.jpg</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-10.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-11.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-12.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-13.jpg</string>
	</dict>
    <dict>
		<key>nameKey</key>
		<string>实景图</string>
		<key>imageKey</key>
		<string>shijing-14.jpg</string>
	</dict>
</array>
</plist>
